/* Основні стилі */
body {
    margin: 0;
    padding: 0;
    background: #0a0a0a;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Центр */
.container {
    text-align: center;
}

/* Логотип */
.logo {
    font-size: 48px;
    font-weight: 800;
    color: #f0b43a; /* золото */
    margin-bottom: 40px;
    letter-spacing: 1.5px;
}

/* Кнопка Play */
.play-btn {
    background: #f0b43a;
    border: none;
    color: #0a0a0a;
    font-size: 22px;
    padding: 16px 40px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s;
}

.play-btn:hover {
    transform: scale(1.05);
    background: #ffcc55;
}


/* Second screen — Game */



.game-body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

.game-container {
    text-align: center;
    padding: 30px 15px;
    color: white;
}

.logo {
    color: #d4a037; /* золото */
    font-size: 22px;
    font-weight: bold;
}

.players {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
}

.vs {
    color: #ffffff99;
}

.choices {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.choice {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 2px solid #2f5aff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    transition: 0.25s ease;
}

.choice img {
    width: 60px;
}


.choice.active {
    transform: scale(1.7);
    background: #1a1a1a;
}

.result {
    margin-top: 30px;
    font-size: 22px;
    min-height: 32px;
}


.back-btn {
    margin-top: 50px;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #3a4fff;
    color: #3a4fff;
    border-radius: 10px;
    font-size: 16px;
}


/* TRIANGLE POSITION */
.triangle {
    position: relative;
    width: 260px;
    height: 260px;
    margin: 70px auto 0;
}

/* Верх — ножиці */
.triangle .choice[data-choice="scissors"] {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Ліво-низ — камінь */
.triangle .choice[data-choice="stone"] {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Право-низ — бумага */
.triangle .choice[data-choice="paper"] {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Анімації вибору */
.choice {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 2px solid #2f5aff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    transition: 0.25s ease;
}

.choice img {
    width: 60px;
}

/* Збільшений вибраний */
.choice.active {
    transform: scale(1.25);
    background: #1a1a1a;
}

/* Зменшені решта */
.choice.small {
    transform: scale(0.5);
    opacity: 0.6;
}
